<div class="app-shell">
	<aside class="sidebar mat-elevation-z4">
        <div class="brand">
            <mat-icon>description</mat-icon>
            OpenUP
        </div>

        <nav>
            <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon>home</mat-icon> Inicio
            </a>
            <a mat-button routerLink="/artifact-types" routerLinkActive="active">
            <mat-icon>assignment</mat-icon> Tipos de artefacto
            </a>
            <a mat-button routerLink="/associate-workflows" routerLinkActive="active">
            <mat-icon>assignment</mat-icon> Flujos de Trabajo
            </a>
            <a mat-button routerLink="/manage-permissions" routerLinkActive="active">
            <mat-icon>assignment</mat-icon> Permisos
            </a>
        </nav>
    </aside>


	<main class="content">
		<router-outlet></router-outlet>
	</main>
</div>